:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #333333;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  cursor: none; /* Hide default cursor */
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  cursor: none; /* Ensure links also don't show cursor */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: none; /* Ensure buttons also don't show cursor */
}
